@model Diabetes.MVC.Models.Components.UsersFoodItemsListViewModel

@foreach (var item in Model.Items)
{
    <details class="card">
        <summary>
            <div class="row no-gutters">
                <div class="col-8">
                    <div class="card-body">
                        <h4 class="card-text">@item.Name</h4>
                        <span class="card-text d-block"><small class="text-muted">Ккал / Ж / Б / У</small></span>
                        <span class="card-text d-block"><small class="text-muted">@item.Kcal / @item.Fat / @item.Protein / @item.Carbohydrate</small></span>
                    </div>
                </div>
                <div class="col-2 d-flex align-items-center">
                    <a asp-controller="UsersFood" asp-action="Edit" asp-route-id="@item.Id"><img src="~/icons/edit.svg"></a>
                </div>
                <div class="col-1 d-flex align-items-center">
                    <a asp-controller="UsersFood" asp-action="Delete" asp-route-id="@item.Id"><img src="~/icons/delete.svg"></a>
                </div>
            </div>
        </summary>
        <p class="mt-2 mb-0">@item.Details</p>
    </details>
}