@using Diabetes.Domain.Normalized.Enums.Units
@model Diabetes.MVC.Models.SettingsCarbohydratesViewModel

@{
    ViewData["Title"] = "Углеводы";
}

<form asp-controller="SettingsCarbohydrates" asp-action="Index" role="form" method="post">
    <h2>Учет углеводов</h2>
    <div class="row mt-5"></div>

    <div class="mb-3">
        <label asp-for="CarbohydrateUnitsUsed" class="form-label col-lg-12"></label>
        <select asp-for="CarbohydrateUnitsUsed" id="units" asp-items="Html.GetEnumSelectList<CarbohydrateUnits>()" value="@Model.CarbohydrateUnitsUsed"></select>
        <span asp-validation-for="CarbohydrateUnitsUsed" class="text-danger"></span>
    </div>
    <div class="mb-3" id="additional">
        <label asp-for="CarbohydrateInBreadUnit" class="form-label"></label>
        <input asp-for="CarbohydrateInBreadUnit" class="form-control" id="ad_val" value="@Model.CarbohydrateInBreadUnit">
        <span asp-validation-for="CarbohydrateInBreadUnit" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="BreakfastTime" class="form-label"></label>
        <input asp-for="BreakfastTime" type="time" class="form-control" value="@Model.BreakfastTime">
        <span asp-validation-for="BreakfastTime" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="LunchTime" class="form-label"></label>
        <input asp-for="LunchTime" type="time" class="form-control" value="@Model.LunchTime">
        <span asp-validation-for="LunchTime" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="DinnerTime" class="form-label"></label>
        <input asp-for="DinnerTime" type="time" class="form-control" value="@Model.DinnerTime">
        <span asp-validation-for="DinnerTime" class="text-danger"></span>
    </div>
    <div class="mb-3 invisible" id="danger">
        <span class="text-danger">Изменения не сохранены</span>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-2 pull-right"> </div>
            <div class="col-lg-4 pull-right">
                <button class="btn btn-success" id="btn" type="submit">Подтвердить</button>
            </div>
            <div class="col-lg-4 pull-right">
                <a class="btn btn-danger"
                   asp-controller="Settings" asp-action="Index">
                    Отмена
                </a>
            </div>
        </div>
    </div>
</form>

<script>
    if ($('#units').val() == '1')
        $('#additional').removeClass('invisible')
    else
        $('#additional').addClass('invisible')

    $('#units').on('edit change', function (e) {
        e.preventDefault()
        if ($('#units').val() == '1')
            $('#additional').removeClass('invisible')
        else
            $('#additional').addClass('invisible')
        if ($('#danger').hasClass('invisible'))
            $('#danger').removeClass('invisible')
    })

    $('input').on('edit change', function (e) {
        e.preventDefault()
        if ($('#danger').hasClass('invisible'))
            $('#danger').removeClass('invisible')
    })
</script>